body{
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.Logo{
    display: flex;
    
}

.btn-menu{
    display: flex;
    align-items: center;
}
.Logo p{
    font-size: 5px;
    color: #aaaaaa;
}